body {
   background-color: white;
}

container.header {
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
 }

h1 {
 color: black;   
}
#header{
    border: 2px;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 50px;
    border-top: 50px;
}
   
#header {
    background-color: #e3e0cf;
    justify-content: center;
    font-size: larger;
    
}
   
#header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    background-color:#e3e0cf;
    color: #fff;

  }

#selectedIng {
    
}